$color-principal: #FFCF53;
$color-principalHover: #FFCF53;
$color-blue: #56CCF2;
$blanco: #fff;
.button {
  border-radius: 5px;
  //padding: 12px 35px;
  height: 50px;
  max-width: 350px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  cursor: pointer;
  & > span {
    font-weight: 600;
    font-size: 18px;
  }
}
.default {
  background-color: $color-principal;
  transition: 300ms ease-out;
  &:hover {
    background-color: $color-principalHover;
  }
  & > span {
    color: #ffffff;
  }
}
.rounded {
  background-color: $color-principal;
  border-radius: 60px;
  & > span {
    color: #ffffff;
  }
}
.simple {
  border: none;
  & > span {
    color: $color-principal;
  }
}
.simpleTwo {
  border: none;
  padding: 0;
  justify-content: flex-end;
  & > span {
    color: $color-principal;
  }
}
.border {
  background-color: transparent;
  border: 2px solid $color-principal;
  transition: 300ms ease-out;
  & > span {
    color: $color-principal;
  }
  &:hover {
    cursor: pointer;
    border-color: $color-principalHover;
    & > span {
      color: $color-principalHover;
    }
  }
}
.buttonBuy {
  border-radius: 5px;
  //padding: 12px 35px;
  height: 50px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  transition: all 0.3s ease-out;
  & > span {
    font-weight: 600;
    font-size: 18px;
  }
  button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    background: $color-blue;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
  }
  button:disabled{
    background: #d7d7d7;
  }
  & .anim > span {
    color: $blanco;
    font-weight: 600;
    font-size: 22px;
    svg {
      fill: $blanco;
      width: 25px;
      height: 25px;
      path {
        fill: $blanco;
      }
    }
  }
  .anim {
    display: grid;
    place-items: center;
  }
}

.loadContainer {
  width: 50px;
  border-radius: 50px;
  padding: 0;
  background: #ebebeb;
}
.loadingBuy {
  clip-path: circle(50%);
  filter: opacity(0.4);
  padding: 0;
  border: none;
  transition: all 0.3s;
  animation-name: loadingBuy;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  //  border: 2px solid #d7d7d7;
  background: #e0e0e0;
  cursor: wait;
  width: 50px;
  height: 50px;
  & > span {
    opacity: 0;
  }
}
.succes {
  clip-path: circle(50%);
  padding: 0;
  transition: all 0.3s;
  background: green;
  width: 50px;
  height: 50px;
  & > span {
    opacity: 1;
    display: flex;
    align-items: center;
  }
}
.error {
  clip-path: circle(50%);
  padding: 0;
  transition: all 0.3s;
  background: #f24141;
  width: 50px;
  height: 50px;
  & > span {
    opacity: 1;
    display: flex;
    align-items: center;
  }
}
.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border: 2px solid #d7d7d7;
  background: #d7d7d7;
  cursor: wait;

  & > span {
    color: transparent;
    content: '';
    visibility: hidden;
  }
}
@keyframes loadingBuy {
  from {
    clip-path: circle(10%);
  }
  to {
    clip-path: circle(50%);
  }
}
@keyframes loading {
  from {
    filter: opacity(0.4);
  }
  to {
    filter: opacity(0.1);
  }
}
@media (min-width: 320px) {
  .button {
    padding: 0 12px;
    max-width: 250px;
  }
}
@media (min-width: 1024px) {
  .button {
    padding: 0 28px;
    max-width: 350px;
  }
}
