@import '../../../../../../styles/Variables.scss';

.searchLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input {
  min-width: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(17, 17, 17, 0.25);
  border-radius: 60px;
  color: $color-principal !important;
  font-weight: 500;
  max-height: 45px;
  height: 40px;
  border: none;
  background-image: url(/svg/search.svg);
  display: flex;
  background-position-y: center;
  background-size: 20px;
  background-repeat: no-repeat;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-principal;
  }
}
.searchContainer {
  display: grid;
  grid-template-rows: max-content;
  row-gap: 16px;
  position: absolute;
  border-radius: 8px;
  min-width: 10px;
  padding: 16px 12px;
  background-color: #ffffff;
  top: 60px;
  z-index: 3;
  width: -webkit-fill-available;
}
.searchItem {
  display: grid;
  grid-template-columns: 50px auto 12px;
  column-gap: 12px;
  align-items: center;
  & svg {
    width: 12px;
    transform: rotate(270deg);
  }
  & img {
    border-radius: 4px;
    width: 50px;
    height: 50px;
  }
  &:hover {
    cursor: pointer;
    & svg {
      & > * {
        transition: 200ms;
        fill: $color-grey;
      }
    }
  }
}
.searchItemTitle {
  & > a {
    color: $color-grey !important;
  }
}
.searchItemArrow {
  color: $color-grey;
}
@media (min-width: 320px) {
  .input {
    font-size: 16px;
    padding: 10px 12px;
    background-position-x: calc(100% - 12px);
  }
}

@media (min-width: 800px) {
  .input {
    font-size: 18px;
    padding: 10px 30px;
    background-position-x: calc(100% - 30px);
  }
}
