@import '../../../../styles/vars.module.scss';
.formUser{
    width: auto;
    background-color: $monocromatic-white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 48px;
    box-shadow: $shadow-tarjet;
    .info{
        display: flex;
        justify-content: space-between;
    }
    .section{
        display: flex;
        flex-direction: column;
        row-gap: 36px;
        padding: 24px;
        .autoGridInputs {
            display: grid;
            column-gap: 24px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
        }
    }
}