@import "../../../../styles/vars.module.scss";
.container{
    display: flex;
    flex-direction: row;
    padding: $padding-64-48;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
}