$color-principal: #ffcf53;
$color-principalHover: #ffcf53;
$color-blue: #56ccf2;
$blanco: #fff;
.button {
  border-radius: 5px;
  //padding: 12px 35px;
  height: 44px;
  max-width: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;


  button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    & > span {
      font-weight: 600;
      font-size: 18px;
    }
    &:disabled {
      background: #f0eeee;
      border-radius: 60px;
      span {
        color: $blanco;
      }
    }
  }
}
.default {
  background-color: $color-principal;
  transition: 300ms ease-out;

  button {
    span {
      color: #ffffff;
    }
  }
}
.rounded {
  background-color: $color-principal;
  border-radius: 60px;
  button {
    span {
      color: #ffffff;
    }
  }
}
.simple {
  border: none;
  button > span {
    color: $color-principal;
  }
}
.simpleTwo {
  border: none;
  padding: 0;
  justify-content: flex-end;
  & > span {
    color: $color-principal;
  }
}
.border {
  background-color: transparent;
  border: 2px solid $color-principal;
  transition: 300ms ease-out;
  & > span {
    color: $color-principal;
  }
  &:hover {
    cursor: pointer;
    border-color: $color-principalHover;
    & > span {
      color: $color-principalHover;
    }
  }
}

.error {
  clip-path: circle(50%);
  padding: 0;
  transition: all 0.3s;
  background: #f24141;
  width: 50px;
  height: 50px;
  & > span {
    opacity: 1;
    display: flex;
    align-items: center;
  }
}
.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border: 2px solid #d7d7d7;
  background: #d7d7d7;
  cursor: wait;

  & > span {
    color: transparent;
    content: "";
    visibility: hidden;
  }
}
@keyframes loading {
  from {
    filter: opacity(0.4);
  }
  to {
    filter: opacity(0.1);
  }
}
@media (min-width: 320px) {
  .button {
    //   padding: 0 12px;
    max-width: 250px;
  }
}
@media (min-width: 1024px) {
  .button {
    //  padding: 0 28px;
    max-width: 350px;
  }
}
