@import "../../../../../styles/vars.module.scss";

.containerLogin {
  display: grid;
  padding: $padding-64-48;
  width: 550px;
  height: 700px;
  .tarjet {
    place-items: center;
    place-content: center;
    display: grid;
    grid-template: repeat(3, auto);
    row-gap: 48px;
    padding: 48px;
    background-color: $monocromatic-white;
    border-radius: 20px;
    box-shadow: $shadow-tarjet;
    .text {
      justify-content: center;
      display: flex;
    }
    .form {
      padding: $padding-24;
      form {
        display: flex;
        row-gap: 24px;
        flex-direction: column;
      }
      .actions {
        margin-top: 48px;
      }
    }
  }
}
