@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import './vars.module.scss';
body {
  font-family: "Nunito", serif;
  padding: 0;
  margin: 0;
  background-color: $monocromatic-terceary-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  color: $monocromatic-alternative-grey;
}
h1{
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  margin: 0;
  padding: 0;
}
h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
h4{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
h5{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
h6{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
button{
  display: flex;
  background: transparent;
  border: none;
  margin: 0;
}
