$monocromatic-white: #ffffff;
$monocromatic-terceary-white: #FBFBFB;
$monocromatic-grey: #d5d5d5;
$monocromatic-alternative-grey: #888888;
$monocromatic-black: #4F4F5A;
$shadow-tarjet: 0px 0px 40px rgba(186, 185, 185, 0.25);
$shadow-discret:0px 2px 5px rgba(26, 25, 40, 0.15);
$padding-24: 24px 24px 24px 24px;
$padding-64-48: 64px 48px 64px 48px;
$padding-0-10: 0px 10px 0px 10px;
$padding-10-24: 10px 24px 10px 24px;
$margin-row-s: 24px;
$margin-row-m: 48px;
$margin-row-l: 64px;
$border-s: 12px;
$border-m: 24px;
$border-l: 112px;
$radius: 20px;
$text-12: (
    "size": 12px,
    "weight": 400,
    "line-height": 20px,
);
$text-14: (
    "size": 14px,
    "weight": 400,
    "line-height": 18px,
);
$text-16: (
    "size": 16px,
    "weight": 400,
    "line-height": 22px,
);
$text-18: (
    "size": 18px,
    "weight": 400,
    "line-height": 24px,
);